<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Forecast</title>
</head>
<body>
    <center>
        <h1>Forecast Page</h1>
        <h2>RMSE : {{ rmse }}</h2>
        <h3>Prediction for 7 days Later : </h3>
        <h4>{{ length }}</h4>
        <p>
            {% for pred in preds %}
                {{ pred }} <br />
            {% endfor %}
        </p>
    </center> 
    <a href="/" class="button3">Back</a>
</body>
</html>