<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Predict</title>
</head>
<body>
    <center>
        <h1>Predict Page</h1>
        <h2>RMSE : {{ rmse }}</h2>
        <h3>Prediction for 7 days Later : </h3>
        {% for pred in preds%}
        {{ pred }} <br />
        {% endfor %}
    </center> 
</body>
</html>